/*-----Mobile Device----------*/
@media(max-width:576px){

.navbar-light .navbar-toggler{
	  border-color:#fff;;
}
.navbar-toggler:focus{
      box-shadow:unset;
}
.menu-bar .btn-primary{
	  background:#1977cc;
}
.menu-bar .btn-primary:hover {
    color:#fff;
    background-color:#166ab5;
}	      
.banner .content h1{
	   font-size:28px;
}
.banner .content h2{
	  font-size:18px;
}
.banner-alt{
      position:static;
	  margin-top:20px;
	  margin-bottom:20px;
	    
}
.about::after{
	   display:none !important;
}
.about .about-pics img{
	   width:100%;
	   height:auto;
}
.about .card .about-icon{
	 top:13%;
	 transform: translateX(40px);
}

.clients .card{
	   margin-bottom:40px;
}
.main-content h2::after{
	  top:47px;
}
.makes .btn-primary {
	width:60%;
}
.department .nav-pills .nav-link.active{
    color:#fff;
    background-color:#1977cc;
    border-color:#1977cc;
}
.department .nav-pills .nav-link{
	  border-right:unset;
}
.department .tab-content .tab-pane h4{
     margin-top:20px;
}
.flex{
	 flex-direction:column-reverse !important;
}
.doctors{
    padding-top:0;
}	
.doctors .doctors-pics{
	 overflow:unset;
}
.testimonials .testi-pics {
	padding-top:120px;
	padding-left:30px;
	padding-right:30px;
}
.testimonials .testi-pics img{
	top:35px;
    transform:translateX(50%);
	width:70px;
	height:70px;
	
}
.testimonials .testi-pics p {
	    font-size:14px;
}
.gallery-pics{
	margin-bottom:10px;
}
/*---
.testimonials .testi-pics img {
    left:38px;
    top:24px;
    border-radius:3px;
}---*/
.footer{
	text-align:center;
}
.footer-links{
	text-align:center;
	margin-top:10px;
}

}

/*----------ipad device----------------*/
@media (min-width:576px) and (max-width:991.97px){

.navbar-light .navbar-toggler{
	  border-color:#fff;;
}
.navbar-toggler:focus{
      box-shadow:unset;
}
.menu-bar .btn{
	  font-size:13px;
}
.menu-bar .btn-primary{
	  background:#1977cc;
}
.menu-bar .btn-primary:hover {
    color:#fff;
    background-color:#166ab5;
}	 	
.banner-alt{
	position:static;
	margin-top:40px;
	margin-bottom:40px;
}
.banner .content h1{
	   font-size:26px;
}
.banner .content h2{
	  font-size:18px;
}	
.about::after{
	   display:none !important;
}
.about .about-pics img{
	   width:100%;
	   height:auto;
}
.about .card .about-icon{
	 top:17%;
	 transform:translateX(40px);
}
.clients .card{
	   margin-bottom:45px;
}
.main-content h2::after{
	  top:51px;
}
.department .nav-pills .nav-link.active{
    color:#fff;
    background-color:#1977cc;
    border-color:#1977cc;
}
.department .nav-pills .nav-link{
	  border-right:unset;
}
.department .tab-content .tab-pane h4{
     margin-top:20px;
}
.flex{
	 flex-direction:column-reverse !important;
}
.doctors{
    padding-top:0;
}
.contact {
    padding-top:0;
}
}
/*----------large device----------------*/
@media (min-width: 992px){
.menu-bar .navbar-nav .make-btn a {
    font-size:13px;
}
.main-content h2::after{
	  top:53px;
}
.department .nav-pills .nav-link{
	  border-right:unset;
}
.department .nav-pills .nav-link.active{
	  background-color:#1977cc;
	  color:#1977cc;
	  border-color:unset;
}
.department .nav-pills .nav-link:hover {
    color: #fff;
}
}


@media (min-width: 1200px){
.menu-bar .navbar-nav .make-btn a {
    font-size:16px;
}
.main-content h2::after{
	  top:56px;
}
.department .nav-pills .nav-link{
	  border-right:3px solid #ebf1f6;
}
.department .nav-pills .nav-link.active{
	  background-color:unset;
	  border-color:#1977cc;
}
.department .nav-pills .nav-link:hover {
    color:#0a58ca;;
}

}